<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
      <services>
        <service name="ToDo.UserService" behaviorConfiguration="ServiceBehavior">
          <endpoint 
            address="UserService"
            binding="netTcpBinding"
            contract="ToDo.IUserService"/>
          <!--<endpoint address="UserServiceWeb" binding="webHttpBinding" contract="ToDo.IUserService" />-->
          <endpoint 
            address="mex"
            binding="mexTcpBinding"
            contract="IMetadataExchange"/>    
        </service>
        <service name="ToDo.TaskService" behaviorConfiguration="ServiceBehavior">
          <endpoint 
            address="TaskService"
            binding="netTcpBinding"
            contract="ToDo.ITaskService"/>
          <!--<endpoint address="TaskServiceWeb" binding="webHttpBinding" contract="ToDo.ITaskService" />-->
          <endpoint 
            address="mex"
            binding="mexTcpBinding"
            contract="IMetadataExchange"/>    
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>